<div class="nav-item dropdown">
    <button class="btn btn-link nav-link py-2 px-0 px-lg-2 dropdown-toggle d-flex align-items-center" id="bd-theme" type="button" aria-expanded="false" data-bs-toggle="dropdown" data-bs-display="static">
        <span id="current_theme"></span>
        <span class="d-lg-none ms-2">Toggle theme</span>
    </button>
    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="bd-theme" style="--bs-dropdown-min-width: 8rem;">
        <li>
            <button id="loto-theme-light" type="button" class="dropdown-item d-flex align-items-center" data-bs-theme-value="light">
                <i class="fa-solid fa-sun fa-lg"></i>&nbsp;Light
            </button>
        </li>
        <li>
            <button id="loto-theme-dark" type="button" class="dropdown-item d-flex align-items-center" data-bs-theme-value="dark">
                <i class="fa-solid fa-moon fa-lg"></i>&nbsp;Dark
            </button>
        </li>
        <li>
            <button id="loto-theme-auto" type="button" class="dropdown-item d-flex align-items-center" data-bs-theme-value="auto">
                <i class="fa-solid fa-circle-half-stroke fa-lg"></i>&nbsp;Auto
            </button>
        </li>
    </ul>
</div>
