<form method="post" action="{{ path('app_draw_delete', {'id': draw.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ draw.id) }}">
    <button class="btn">Delete</button>
</form>
