{% extends 'base.html.twig' %}

{% block title %}New Draw{% endblock %}

{% block body %}
    <h1>Create new Draw</h1>

    {{ include('draw/_form.html.twig') }}

    <a href="{{ path('app_draw_index') }}">back to list</a>
{% endblock %}
