<table class="table table-striped">
    <thead>
        <tr>
            {% for head in this.header %}
            <th>{{ head | upper }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
    {% for row in this.rows %}
        <tr>
            {% for head in this.header %}
                <td>
                {% if row['attr'] is defined and row['attr']['bold'] %}
                    <strong>
                {% endif %}

                {% if head == 'percent' %}
                    {{ row[head] | number_format(4, '.', ',') }}%
                {% else %}
                    {{ row[head] }}
                {% endif %}

                {% if row['attr'] is defined and row['attr']['bold'] %}
                    *</strong>
                {% endif %}
                </td>
            {% endfor %}
        </tr>
    {% else %}
        <tr>
            <td colspan="30">no records found</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
