{% extends 'base.html.twig' %}

{% block title %}Hello DashboardController!{% endblock %}

{% block body %}
    <div class="row mt-3">
        <div class="col">
            <h1>Average</h1>
            {{ component('table', {
                header: ['ball', 'count', 'percent'],
                rows: average
            }) }}
        </div>
    </div>
{% endblock %}
